/* ************************************************
CSS Default
Author: Gianluca Buoncompagni - neo network
************************************************* */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,Ff
small, strong, sub, sup, var,
b, i, a,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-weight: normal;
}

.alt         {position: absolute; top: -5000px; text-indent: -5000px;}
.hidden      {display:none; visibility:hidden;} 


@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/League_Gothic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* basic view structure 
====================================================== */
* {
      -webkit-touch-callout: none;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-text-size-adjust: none;
    }
html, body{	
   font-family: 'LeagueGothicRegular', Helvetica, sans-serif;
	font-size:14px;
	background: #000;/*  url('../gfx/bg.png') repeat; */
	color:#fff;
}
a{
	color:#fff;
}
#mainApp{
   -webkit-text-size-adjust: none;
   -webkit-user-select: none;
   position: absolute;
   width: 100%;
   height: 100%;
   top:0;
   left:0;   
   padding-bottom:70px solid #fff;
}
body #mainApp.window{
   position: relative;
   width: 320px;
   height: 480px;
   margin:10px auto;
   border: 4px solid #ddd;   
   overflow: hidden;
}

/* main views */
#mainApp > div {
   -webkit-box-sizing: border-box;
   top:0;
   left: 0;
   min-height: 100%;
   overflow-x: hidden;
   position: absolute;
   width: 100%;
   line-height: 100%;
   text-align: center;
   font-size: 20px;
   opacity:0;
   display: none;
} 

#mainApp .current{
  display: block;
  opacity:1;
  z-index: 1;
}
#mainApp .anim{
  display: block;
  z-index: 2;
}
button{
   cursor: pointer;
   text-decoration: underline;
	background:#c00;
	border:none;
	display:inline-block;
	color:#fff;
	   font-family: 'LeagueGothicRegular', Helvetica, sans-serif;
	height:44px;
	width:44px;
	text-transform:uppercase;
	font-size:18px;
	text-decoration:none;
	text-align:center;
	padding:0;
}

.btnBack{
   position:absolute; 
   top:4px; 
   left:4px;
   z-index:4;
}
.btnFav{
   position:absolute; 
   top:4px; 
   right:4px;
   z-index:4;
}

h1{
   font-size: 25px;
   padding: 4px;
	text-transform:uppercase;
	color:#c00;
}


/* Loadbar
====================================================== */
.loadbar{
   width: 50px;
   height: 10px;
   border: 1px solid #fff;
   margin:2px auto;
   background-color: #c00;
   background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
   -webkit-background-size: 10px 10px;   
   -webkit-transform: translate3d(0, 0, 0);  
}
.current .loadbar,
.visible .loadbar{
   /*animate only when visible */
   -webkit-animation: move 800ms linear infinite;
}
@-webkit-keyframes move {
   0% {background-position: 0 0; }
	100% {background-position: 30px 30px; }
}

#mainApp > div#loadbarWrapper {
   opacity:1;
   z-index:3;
   width: 100%;
   height: 100%;
   position: absolute;
   top:0;
   left:0;
   background: rgba(0,0,0,0.5);
} 
#mainApp > div#loadbarWrapper .loadbar{
   position: absolute;
   top:50%;
   left:50%;
   margin-top: -6px;
   margin-left: -26px;
} 
#mainApp > div#loadbarWrapper.visible{
   display:block;
} 

/* Home view
====================================================== */
#home h1{

   padding:30px 0 20px;
line-height:.8;
position:relative;
margin: 0 auto 0;
position:relative;
}
#logo{
	margin:0 auto;
	overflow:hidden;
}
#home h1 span{
	display:block;
}
#home h1 #t{
	font-size:40px;
}
#home h1 #m{
}
#home h1 #e{
}
#inputId button{
	font-size:40px;
	line-height:1;
}
#inputId input{
	font-family: 'LeagueGothicRegular', Helvetica, sans-serif;
	font-size:30px;
	height:44px;
	padding:0 4px;
	width:224px;
	-webkit-border-radius:0;
	border:none;
	position:relative;
	top:-4px;
	color:#000;
	background:#f2f2f2;
}
.load {
   font-size: 13px;
   line-height: 1;
   text-transform: uppercase;
   letter-spacing: 0.25em;
}
/* favs & recents */
.hpList{
   position: relative;
   width: 100%;
   height: 52px;
   margin:10px auto;
   text-align: left;
   overflow: visible;
   border-top: 1px solid #999;
   border-bottom: 1px solid #999;
   background-color: #333;
}
.hpList ul{
   display: block;
   float: left;
   height: 52px;
   background-color: #333;
   white-space: nowrap;
}
.hpList ul li{
   display: inline;
   width: 48px;
   height: 48px;
   text-align: center;
   white-space: nowrap;
   float: left;
   margin:2px 3px;
}
.hpList a{
   display: inline-block;
}
.hpList img{
   display: inline-block;
   width: 45px;
   height: 45px; 
   margin: 2px 5px;
}

/* Grid view
====================================================== */
#grid{
   overflow-y: auto;
   height:100%;
}
#gridContent{
   height: 100%;
   text-align: left;
}
#headerInfo{
   text-align: center;
   font-size: 11px;
	height:56px;
	background:#000;
	z-index:3;
	position:absolute;
	top:-56px;
	left:0;
	right:0;
	font-size:14px;
	line-height:1;
	color:#ddd;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transition: all 300ms ease-in-out;
	-webkit-box-shadow: 0px 0px 8px #000;
}
#headerInfo.loaded{
   -webkit-transform: translate3d(0,56px,0);
}
#headerInfo h1{
	padding:4px;
	margin:0 55px;
	line-height:1;
	border-bottom:1px solid #333;
   text-transform:none;
	color:#fff;
	font-size:24px;
	white-space:nowrap;
	margin-bottom:4px;
	font-weight:normal;
	overflow: hidden;
	text-overflow: ellipsis;
}
#headerInfo img{
   -webkit-transform: translate3d(0,0,0);
   position:absolute; 
   top:4px; 
   right:4px;
   height:44px;
   width:44px;
}

.thumbnails{
	margin-left:2px;
	margin-top:60px;
}
.thumbnails a{
   -webkit-transition: all 500ms linear;
   background-size:cover;
   background-position: 50%; 
	display:inline-block;
	float: left;
	margin:2px;
	width:75px;
	height:75px;
	overflow: hidden;
   opacity:0;
}
.thumbnails a img{
   opacity:0;  
}
.thumbnails a.loaded{
   opacity:1;
}

/* Detail view
====================================================== */
#detail{
   overflow: hidden;
   height: 100%;
}
#topBar{
	position:absolute;
	z-index:4;
	height:56px;
	background:#333;
	border-bottom: 4px solid #c00;
	left:0;
	top:-56px;
	width:100%;
	-webkit-box-shadow: 0px 0px 8px #000;
}
#topBar .handle{
   -webkit-transform: translate3d(0, 0, 0);
   position:absolute;
   height:15px;
   bottom:-15px;
   width:100%;
   left:0;
   background:rgba(0,0,0,0.7);
   color:#fff;
   font-size:14px;
}
#detailContent{
   height: 100%;
   position: relative;
}
/* hide when not in view */
#swipeview-slider .loadbar{
   position: absolute;
   top:50%;
   left:50%;
   margin-left:-26px;
   margin-top: -6px;
   display: none;
}
/* animate when in view */
#swipeview-slider .swipeview-active .loadbar{
   display: block;
}
/* hide when image loaded */
#swipeview-slider .swipeview-active .loaded .loadbar{
   display: none;
}
#swipeview-slider > div .cell{
  background-size:contain;
line-height: 100%;
height: 100%;
}
#swipeview-slider > div .hidden{
  display: none;
}
#swipeview-slider > div .cell img{
  /*max-width:100%;
    max-height:100%;
    margin:0 auto;
    position: relative;
    display: inline;
    line-height: 100%;*/
   display:none;
}
.cell img{
   opacity:0;
}
.caption{
   display: none;
}
#tmblButtons{
   text-align: left;
   height:20px;
   padding-top: 4px;
   overflow: hidden;
}
#tmblButtons > a{
	display:inline-block;
	background:#f30;
	color:#fff;
	text-decoration: none;
	padding:2px;	
	margin: 0 4px;
	line-height: 1;
	font-size:15px;
	clear:both;	
}
#detailCaption{
   -webkit-transform: translate3d(0, 0, 0);
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
	position:absolute;
	z-index:3;
	padding: 5px;
	background:rgba(0,0,0,0.7);
	left:0;
	bottom:-150px;
	width:100%;
	font-size:10px;
	color: #fff;
	overflow:visible;	
}
#detailCaption .handle {
-webkit-transform: translate3d(0, 0, 0);
position:absolute;
height:10px;
top:0;
width:40px;
left:50%;
margin-left:-20px;
background:rgba(0,0,0,0.7);
color:#fff;
font-size:14px;
line-height: 10px;
}

#detailCaption .handle.visible {
-webkit-transform: translate3d(0px, -10px, 0);
}
#pin{
   display: block;
   position: absolute;
   width: 16px;
   height: 16px;
   bottom:7px;
   right:2px;
   background:#ccc;
}
#pin.pinned{
   background:#0c0;
}
#captionContent{
	position:static;
   max-height:130px;
   line-height:1.3;
   text-align:left;
   font-size:14px;
   padding-bottom:3px;
   border-bottom:1px solid #333;
}
#captionContent p, #captionContent blockquote{
	margin:0;
}
